@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --Primary-color:  #FFC544;
  --Primary-color-border:  rgb(0, 0, 0);
  --Secundary-color:#FFD984;
  --Tertiary-color: #379090;

  --FontSizeMenu: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}


html,body{
  height: 100dvh;
  width: 100dvw;
}
body{
  display: grid;
  grid-template-rows: auto 1fr;

}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
main .island{
  overflow: scroll;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--Secundary-color);
  box-shadow:2px 2px 2px 2px rgba(189, 78, 78, 0.354);
  overflow-x: hidden;
}
main .island::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Edge moderno */
}

.hidden {
  opacity: 0;
  transform: translateX(-100%); 
  pointer-events: none;         
  position: absolute;           
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  position: static;  
  transition: all 0.5s ease-in-out;
}

main .container_consulta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:.5rem;
}

main #tabela-container{
  overflow: scroll;
  overflow-x: hidden;
}

#tabela-container tr td{
  text-align: center;

}