html, body {
  height: 100dvh;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr; /* header + main */
}

main {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(190.5px, 30%));
  grid-template-rows: repeat(auto-fit, minmax(190.5px, 30%));      
  gap: 2rem;
  justify-content: space-around;
}

    .container_faltas{
        display: flex;
        background-color: #FFC544;
        width: 100%;
        border-radius: 12px;
        padding: 12px;
        flex-direction: column;
        border: 2px solid;
        
    }
    .container_faltas h3{
        font-size: 1.6rem;
    }

    ul li, .frequencia{
        list-style: none;
        line-height: 150%;
        font-size: 1.3rem;
    }