:root{
  --Primary-color:  #FFC544;
  --Secundary-color:#FFD984;
  --Tertiary-color: #379090;

  --FontSizeMenu: 1rem;
}
main{
  margin: 1rem;
}

.container_pesquisa{
  padding: 1rem;
  background-color: #676868a5;
  max-width: 50%;
  border-radius: 1rem;
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.582) ;
  gap: 1rem;
  display: flex;
  align-items: center;
}
.container_pesquisa input {
  background-color: transparent;
  border:none;
  outline: none;

}
.container_pesquisa i {
  color: lightgray;
}
 ::-webkit-input-placeholder {
  color: lightgrey;
 }