@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --Primary-color:  #FFC544;
  --Primary-color-border:  rgb(0, 0, 0);
  --Secundary-color:#FFD984;
  --Tertiary-color: #379090;

  --FontSizeMenu: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
main{
  margin: 1rem;
  height: 75dvh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.colum1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35%;
  height: 100%;

}

.colum2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 112%;
  width: 100%;
}

.island{
  border-radius: 1rem;
  display: flex;
  background-color: var(--Secundary-color);
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.354);
}
.container_pesquisa{
  padding: 1rem;
  background-color: #b0b0b0a5;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.354) ;
  gap: 1rem;
  display: flex;
  align-items: center;
}
.container_pesquisa input {
  background-color: transparent;
  border:none;
  outline: none;
  width: 100%;
}
.container_pesquisa i {
  color: rgb(141, 141, 141);
}
 ::-webkit-input-placeholder {
  color: rgb(148, 148, 148);
 }

 .container_tarefas{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  min-height: 100%;
  overflow-x:  hidden;
  overflow-y: scroll;
 }
 main .container_tarefas::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari, Edge moderno */
  }
  .container_tarefas .tarafas-top{
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
    background-color: var(--Primary-color);
  }
  .container_tarefas .tarafas-top h3{
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
    .container_tarefas .tarafas-top button{
      background-color: var(--Primary-color-border);
      padding: .5rem;
      border-radius: .5rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      font-weight: 600;
      cursor: pointer;
      color: white;
    }
     .container_tarefas .tarafas-top button > i{
      color: white;
     }

     .tarefas_conteudo{
      display: flex;
      align-items: start;
      max-height: 100%;
      width: 100%;
      overflow: scroll;
     }
      main .tarefas_conteudo::-webkit-scrollbar {
        display: none;                  /* Chrome, Safari, Edge moderno */
      }
     .tarefas_conteudo ul{
      display: flex;
      flex-direction: column;
      width: 100%;
     }
      .tarefas_conteudo ul li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        background-color: var(--Secundary-color);
      }
      
      .tarefas_conteudo ul li .icons{
        gap: 1rem;
        display: flex;
        align-items: center;
      }
      .tarefas_conteudo ul li .icons > i{
        cursor: pointer;
      }
      .tarefas_conteudo ul li .icons i:nth-last-child(1){
        font-size: 1.3rem;
      }
      .tarefas_conteudo button{
        background-color: transparent;
        color: rgba(49, 49, 49, 0.637);
        font-size: 1.2rem;
        padding: 1rem;
        border: none;
        font-weight: 600;
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
      }

.solicitacoes{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;

}


.solicitacoes .solicitacoes-top{
  align-self: center;
  padding: 1rem;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
  background-color: var(--Primary-color);
  text-align: center;

}
.solicitacoes .solicitacoes-top h3{
  font-size: 1.3rem;

}
.solicitacoes_conteudo{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}
main .solicitacoes_conteudo::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari, Edge moderno */
  }
.solicitacoes_conteudo ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solicitacoes_conteudo li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  gap:1rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}
.solicitacoes_conteudo li:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.solicitacoes_conteudo li .profile{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.solicitacoes_conteudo li .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}
.solicitacoes_conteudo li .icons i{
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-in-out .2s;
}
.solicitacoes_conteudo li .icons i:hover{
  transform: scale(1.2);
}

.solicitacoes_conteudo li .Menu_profile-icon{
  width: 80px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
.solicitacoes_conteudo li .Menu_profile-icon img{
  width: 100%;
}
/* <li>
              <div class="Menu_profile-icon">
                <img src="../../src/images/profile.webp" alt="Foto de perfil">
              </div>
              <div class="solicitacoes-texts">
                <h3>Julia da Silva </h3>
                <span>
                  Solicitação de documento
                </span>
              </div>
            </li> */