@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --Primary-color:  #FFC544;
  --Secundary-color:#FFD984;
  --Tertiary-color: #379090;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

body{
  width: 100dvw;
  max-width: 100%;
}

header {
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary-color);
}

header .container{
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

.container .Menu_logo{
 width: 130px;
 overflow: hidden;
 transition: transform .3s ease-in-out;
}

.container .Menu_logo:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.container .Menu_logo img{
  width: 100%;
}
.container navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.container navbar li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: relative;
  padding: .3rem 0;
  cursor: pointer;
}
.container navbar li:not(:nth-child(3)){
  padding: .5rem 0;
}
.container navbar li:not(:nth-child(3))::after,
.container navbar .Menu_profile_option:nth-child(n) a::after,button::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--Tertiary-color);
  transition: all ease-in-out .3s;
  transform: translateX(10%);
}

.container navbar li:not(:nth-child(3)):hover::after,
.container navbar .Menu_profile_option:nth-child(n) a:hover::after,button:hover::after{
  width: 80%;
}
.container navbar li:nth-child(3){
  display: block;
  flex-direction: row;
}
.container navbar .Menu_profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
}


.container navbar .Menu_profile-icon{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  
}
.container navbar .Menu_profile-icon img{
  max-width: 100%;
}

.container navbar .Menu_profile_option{
  display: none;
  position: absolute;
  flex-direction: column;
  transition: all 2s ease-in-out;
  cursor: pointer;
}
.container navbar li:nth-child(3):hover > .Menu_profile_option{
  display: flex;
}

.container navbar li:nth-child(3) i{
    transition: all .3s ease-in-out;
}
.container navbar li:nth-child(3):hover i{
  transform: rotate(180deg);

}
.container navbar .Menu_profile_option:nth-child(n) button{
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.container navbar .Menu_profile_option:nth-child(n) a,button{
  position: relative;
  padding: 1rem;
  background-color: var(--Primary-color);
  text-align: start;
  transition: background-color .3s ease;
}







