
body{
  height: 80dvh;
}
main{
  max-height: 100%;
  height: 100%;
  margin: 1rem;
}
main .Profile_aluno{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  max-width: 50%;
  min-height: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #FFC544;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.Profile_aluno .Menu_profile-icon{
  width: 150px;
  height: 150px;
  overflow: hidden; 
  border-radius: 50%;
}

.Profile_aluno .Menu_profile-icon img{
  width: 100%;
}
ul{
  list-style: none;
  text-decoration: none;
}

ul li{
  text-wrap:initial;
  margin-top: 10px;
}