main{
  padding: 1rem;
}
.content {
  display: flex;
  gap: 1rem;
}
main .island{
  height: 82dvh;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: var(--Secundary-color);
  box-shadow:2px 2px 2px 2px rgba(189, 78, 78, 0.354);
  align-items: center;
  overflow: hidden;
  } 

.colum1 {
  width: 66%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}


.container_aluno {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  padding: 1rem;
  gap: 1rem;
}

/* Lado esquerdo: Dados Pessoais */
.aluno_info_pessoal {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 2px solid black;
  padding-right: 1rem;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.foto_aluno {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 2px solid black;
}

.foto_aluno img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dados_aluno{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dados_aluno h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dados_aluno p {
  font-size: 1rem;
  margin: 0.2rem 0;
}

/* Lado direito: Informações Curso */
.aluno_info_curso {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.aluno_info_curso h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.aluno_info_curso p {
  font-size: 1rem;
}


/*Planos de aula*/
main .colum2 {
  width: 33%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.colum2 .planos-top {
  align-self: center;
  padding: 1rem;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
  background-color: var(--Primary-color);
  text-align: center;
}
.colum2 .planos_conteudo{
  width: 100%;
  overflow: scroll;
  height: 100%;
}
main .colum2 .planos_conteudo::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari, Edge moderno */
  }
.planos_conteudo ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.planos_conteudo li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap:1rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}
.planos_conteudo li:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.planos_conteudo li .profile{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.planos_conteudo .data{
  font-weight: 600;
}

.colum2 .Menu_profile-icon{
    width: 80px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
  }
.colum2 .Menu_profile-icon img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }